##variable:
is used to store the value and the values can be changed

In [2]:
num=100# value 100 stored in a variable name called num
num

100

In [4]:

num=200
num

200

**note**
- python is a step by step process
- python will take last outut as the latest value
- in above code we are using  same variable :number
- but number value changed two times
- first time 100
- second tim its 200
-latest value is 200

In [5]:
num=200
num,num

(200, 200)

In [6]:
NUMber=300
NUMber

300

In [7]:
number123=400
number123

400

In [8]:
123numbes=500
123number

SyntaxError: invalid decimal literal (1949320300.py, line 1)

In [9]:
num%er=50
num%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (357410957.py, line 1)

nuber one=800
number one

In [11]:
number_one=88
number_one

88

In [12]:
_=100
_

100

In [13]:
n1=100,200
n1

(100, 200)

In [15]:
n1,n2=100

TypeError: cannot unpack non-iterable int object

In [18]:
n1,n2=100,200
print(n1)
print(n2)

100
200

In [19]:
n1,n2=100
n1
n2

TypeError: cannot unpack non-iterable int object

## variables key points
- pyton variables are case sensitive
- variables cannot start with numbers(123number) or any other special characters expect undersore"_"
- variables should not contain spaces between names
- keywords or reserved words cannot be use as vaiables like (if,ifelse,elseif,while,for,true,false etc)
- twq values can be assign to asingle variable
- on va;ue cannot be assigned to two variables