**ListComprehension**

- we can store the output values by using append operations
- we are taking empty list
- we are iterating elements from a given list
- and the result we are appending in a new list

In [3]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are almost 3 lines are in the process
- the 3 lines we can make into single line 
- this is called list comprehension

$pattren-1$

**Only for loop**

In [5]:
#syntax
#[<output> <for loop>]

In [7]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list
#q1)what is the output?i*i
#q2) what is the output listname?square-list
#q3) what is the for loop? for i in range(10)
s_qlist=[i*i for i in range(10)]
s_qlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#q2)l1=['hyd','mumbai','chennai','blr']
     #ansl1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [17]:
l1=['hyd','mumbai','chennai','blr']
l2=[i.upper() for i in l1]
l2

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [18]:
#q3)l1=['Hyd','Mumbai','Chennai','Blr']
     #ansl1=['hyd','mumbai','chennai','blr']

In [19]:
l1=['Hyd','Mumbai','Chennai','Blr']
l2=[i.lower() for i in l1]
l2

['hyd', 'mumbai', 'chennai', 'blr']

In [20]:
#q3)l1=['Hyd','Mumbai','Chennai','Blr']
    #ans sum of index

In [1]:
l1=['Hyd','Mumbai','Chennai','Blr']
l2=[l1.index(i) for i in l1]
sum(l2)

6

- making empty list will not work in list comprehension
- intializations will not works in list comprehension
- Assignment operations also not works

$pattern-2$

**for loop and if condition**

In [2]:
#syntax
#[<output> <for loop> <if condition>]

In [6]:
l1=['Hyd','Mumbai','Chennai','Blr']
for i in l1:
    if len(i)>=4:
        print(i)

Mumbai
Chennai

In [7]:
l1=['Hyd','Mumbai','Chennai','Blr']
l2=[i for i in l1 if len(i)>=4]
l2

['Mumbai', 'Chennai']

In [15]:
l1=['Hyd','Mum#bai','Chen#nai','Blr']
l2=[i for i in l1 if "#" in i]
l3=[i for i in l1 if "#" not in i]
l2,l3

(['Mum#bai', 'Chen#nai'], ['Hyd', 'Blr'])

In [24]:
l1=['Hyd','Mumbai','chennai','blr']
l2=[i for i in l1 if i.istitle()]
l2

['Hyd', 'Mumbai']

In [25]:
l1=['Hyd','Mum#bai','Chen#nai','Blr']
l2=[i for i in l1 if "#" in i]
l3=[i for i in l1 if "#" not in i]
l2

['Mum#bai', 'Chen#nai']

In [26]:
#str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
#Firstname=[] second name=[] cname =[]
#append first name should be in first name list
#second name shoul be in second name list
#thirs name will be in thirs name list

In [10]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
lst1=str1.split(",")
l2=[i[:i.index('.') : i[:i.index('.')]+1] for i in lst1]
l3=[i[:i.index('.')+1 : i[:i.index('@')]+1] for i in lst1]
l2,l3

TypeError: can only concatenate str (not "int") to str

In [14]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
lst1=str1.split(",")
l1 = lst1[0][:lst1[0].index('.')]
l1

'virat'

In [19]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
lst1=str1.split(",")
l1 = [lst1[i][:lst1[i].index('.') ]for i in range(lst1)]
l1

TypeError: 'list' object cannot be interpreted as an integer

**$pattren-3$**

In [ ]:
#[<output> <forloop>]: for loop
#[<output> <forloop> <if condition>]: for-if
#[<if_output><if><else><else_output><>for]: if-else

In [24]:
#even-odd
o_plst=[]
for i in range(1,20):
    if i%2==0:
        o_plst.append(i)
    else:
        o_plst.append(i)
o_plst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
l1=[i if i%2==0  else i for i in range(1,20)] # there is no elif condition in list comprehension
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]