**Dictionary**:

- we already seen many Data types
- string
- list
- tuple
- set
- Dictionary
- int float bool complex
- range
- bytes
- eval is not a datatype

In [2]:
# by using lambda list reduce
str=b'hello'

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key:value}

In [3]:
names=['shumyna','sanika','sharmila']
age=[20,20,35]

In [1]:
d1={'shumyna':20,'nivurthi':18,'sanika':19}
d1['shumyna']

20

In [4]:
d1={'shumyna':20,'nivurthi':18,'sanika':19}
for i in d1:
    print(f'{i} has age {d1[i]}')

shumyna has age 20
nivurthi has age 18
sanika has age 19

In [6]:
names=['shumyna','sanika','nivruthi']
age=[20,25,30]
for i,j in zip(names,age):
    print(f'{i} has age {j}')

shumyna has age 20
sanika has age 25
nivruthi has age 30

In [14]:
d1={'shumyna':20,'nivurthi':18,'sanika':19}
l1=[]
l2=[]
for i in d1:
    l1.append(i)
    l2.append(d1[i])
print(l1)
print(l2)

['shumyna', 'nivurthi', 'sanika']
[20, 18, 19]

In [16]:
l1=[i for i in d1]
l2=[d1[i] for i in d1]
l1

['shumyna', 'nivurthi', 'sanika']

**Dictionary to List**

In [19]:
#How to create empty list
l1=[]
l1.append(20)
l1

[20]

In [21]:
#How to create empty string
s1=''
s=s1+'a'
s

'a'

In [23]:
d={}
d['shumyna']=20
d

{'shumyna': 20}

In [28]:
names=['shumyna','sanika','nivruthi']
age=[20,25,30]
d={}
for i,j in zip(names,age):
    d[i]=j
d

{'shumyna': 20, 'sanika': 25, 'nivruthi': 30}

In [29]:
#string to list
s1='hello  how are you'
s1.split()

['hello', 'how', 'are', 'you']

**word frequency**

In [48]:
count=0
s1='hello hello  how are are you'
l=list(s1.split())
d={}
for i in l:
    d[i]=s1.count(i)
d

{'hello': 2, 'how': 1, 'are': 2, 'you': 1}

In [55]:
ord('s')

115

In [ ]:
#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

#{'Data science':68,'science':115}

In [24]:
s1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, 
          structured, or unstructured data.Data science also integrates domain knowledge 
          from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""
a=s1.split()
b=['a','an','is','the']
x=[]
for i in a:
    if i not in b:
        x.append(i)
print("".join(x)) 
y=[]
for i in x:
    if i not in y:
        y.append(i)
y
q=[i for i in y]
a=[ord(i[0]) for i in y]
dict={}
for i,j in zip(q,a):
    dict[i]=j
dict

Datascienceinterdisciplinaryacademicfieldthatusesstatistics,scientificcomputing,scientificmethods,processes,scientificvisualization,algorithmsandsystemstoextractorextrapolateknowledgeandinsightsfrompotentiallynoisy,structured,orunstructureddata.Datasciencealsointegratesdomainknowledgefromunderlyingapplicatin.Datasciencemultifacetedandcanbedescribedasscience,researchparadigm,researchmethod,discipline,workflow,andprofession.

{'Data': 68,
 'science': 115,
 'interdisciplinary': 105,
 'academic': 97,
 'field': 102,
 'that': 116,
 'uses': 117,
 'statistics,': 115,
 'scientific': 115,
 'computing,': 99,
 'methods,': 109,
 'processes,': 112,
 'visualization,': 118,
 'algorithms': 97,
 'and': 97,
 'systems': 115,
 'to': 116,
 'extract': 101,
 'or': 111,
 'extrapolate': 101,
 'knowledge': 107,
 'insights': 105,
 'from': 102,
 'potentially': 112,
 'noisy,': 110,
 'structured,': 115,
 'unstructured': 117,
 'data.Data': 100,
 'also': 97,
 'integrates': 105,
 'domain': 100,
 'underlying': 117,
 'applicatin.Data': 97,
 'multifaceted': 109,
 'can': 99,
 'be': 98,
 'described': 100,
 'as': 97,
 'science,': 115,
 'research': 114,
 'paradigm,': 112,
 'method,': 109,
 'discipline,': 100,
 'workflow,': 119,
 'profession.': 112}

**Mutable and Immutable**

In [56]:
d1={'shumyna':20,'nivurthi':18,'sanika':19}
d1['sanika']=20
d1

{'shumyna': 20, 'nivurthi': 18, 'sanika': 20}

- list and dictionary are mutable
- tuple and strings are immutable
- difference b/w list and tuples

In [57]:
d={'fruits':['mango']}
for i in d:
    print(d[i])

['mango']

In [60]:
d={'fruits':['mango']}
d['fruits'][0]

'mango'

In [71]:
d={'Fruits':[{'Apple':['Kashmir']}]}
d['Fruits'][0]['Apple'][0]

'Kashmir'

In [81]:
d={'Fruits':[
    {'Apple':
     {'Kashmir':
      ['India']
     }
    }
     ]
  }
d['Fruits'][0]['Apple']['Kashmir'][0]

'India'

In [92]:
d={'Fruits':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruits']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

In [ ]:
**Dictionary Methods**

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [5]:
d1={'shumyna':20,'glancy':21,'meghana':23}
l1=[]
for i in d1.keys():
    print(i)
    l1.append(i)
l1

shumyna
glancy
meghana

['shumyna', 'glancy', 'meghana']

**clear**

In [6]:
d1={'shumyna':20,'nivruthi':19,'sanika':18}
d1.clear()#removes all the values in the dictionary

In [7]:
d1

{}

**copy**

In [8]:
d1={'shumyna':20,'nivruthi':19,'sanika':18}
d1.copy()#copies the whole dictionary

{'shumyna': 20, 'nivruthi': 19, 'sanika': 18}

**fromkeys**

In [16]:
d1={'shumyna':20,'nivruthi':19,'sanika':18}
x=1
d1.fromkeys(d1,x)#Create a new dictionary with keys from iterable and values set to value.

{'shumyna': 1, 'nivruthi': 1, 'sanika': 1}

In [1]:
d1={'a':1,'e':2,'i':3,'o':4,'u':5}
x='vowel'
d1.fromkeys(d1,x)

{'a': 'vowel', 'e': 'vowel', 'i': 'vowel', 'o': 'vowel', 'u': 'vowel'}

In [2]:
d1={1:1,2:2,3:3,4:4,5:5}
x='vowel'
d1.fromkeys(d1,x)

{1: 'vowel', 2: 'vowel', 3: 'vowel', 4: 'vowel', 5: 'vowel'}

In [8]:
d1={1:1,2:2,3:3,4:4,5:5}

d1.fromkeys(d1)

{1: None, 2: None, 3: None, 4: None, 5: None}

In [2]:
d={'shumyna': 20, 'nivruthi': 25, 'sanika': 30}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

shumyna 20
nivruthi 25
sanika 30

(['shumyna', 'nivruthi', 'sanika'], [20, 25, 30])

**get**

In [5]:
d1={'shumyna':20,'nivruthi':19,'sanika':18}
d1.get('nivruthi')#Return the value for key if key is in the dictionary, else default.

19

In [7]:
d1={'shumyna':20,'nivruthi':19,'sanika':18}
d1.get(19)#it takes only keys not the values

In [9]:
d1={'shumyna':20,'nivruthi':19,'sanika':18}
d1.items()

dict_items([('shumyna', 20), ('nivruthi', 19), ('sanika', 18)])

In [3]:
d.keys()

dict_keys(['shumyna', 'nivruthi', 'sanika'])

- Dictionary keys will give dictionary keys items in a list
- It looks like a list , but it is not a list
- Whcih means we can not apply list methods
- So we need to convert into list type, by using list type casting

In [6]:
d1={'shumyna':20,'glancy':21,'meghana':23}
list(d1.keys())

['shumyna', 'glancy', 'meghana']

In [27]:
d1={'shumyna':20,'glancy':21,'meghana':23}
tuple(d1.values())

(20, 21, 23)

In [8]:
d1={'shumyna':20,'glancy':21,'meghana':23}
set(d1.keys())

{'glancy', 'meghana', 'shumyna'}

In [ ]:
a=10,20#WORKS
a,b=10,20#WORKS
a,b=10#FAILS

In [11]:
d1={'shumyna':20,'glancy':21,'meghana':22}
d1.pop('glancy')#removes the key and value
d1

{'shumyna': 20, 'meghana': 22}

In [18]:
d1={'shumyna':20,'glancy':21,'meghana':22}
d1.pop(21) #error we cannot give value to pop
d1

KeyError: 21

In [19]:
d1={'shumyna':20,'glancy':21,'meghana':22}
d1.popitem()#by default removes the last key and value[LIFO-last in first out]
d1

{'shumyna': 20, 'glancy': 21}

In [20]:
d1={'shumyna':20,'glancy':21,'meghana':22}
x=d1.popitem()#by default removes the last key and value[LIFO-last in first out]
x

('meghana', 22)

**setdefault**

In [8]:
d1={'shumyna':20,'glancy':21,'meghana':22}
x=d1.setdefault('shumyna',20)
x

20