# print statements

In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'shumyna',True)

10 10.5 shumyna True

In [5]:
num=10
print(num)

10

In [6]:
n1=10
n2=10
print(n1,n2)

10 10

In [8]:
a=10
b=10
c=a+b
print("the addition of a and b is",c)

the addition of a and b is 20

## FORMAT METHOD (.format)

In [11]:
a=100
b=100
c=a+b
print("the addition of {} and {} is{}".format(a,b,c))

the addition of 100 and 100 is200

In [17]:
name='python'
age=10
city='hyd'
print("my name is {},i am {} and i am from {}".format(name,age,city))

my name is python,i am 10 and i am from hyd

In [18]:
empnm='shumyna'
des='manger'
com='accenture'
print("i am {},i work at {} and i am {}".format(empnm,com,des))

i am shumyna,i work at accenture and i am manger

In [22]:
#F-string
a=100
b=100
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 100 is 200

In [21]:
empnm='shumyna'
des='manger'
com='accenture'
print(f"i am {empnm},i work at {com} and i am {des}")

i am shumyna,i work at accenture and i am manger

In [2]:
n1=100
n2=200
average=(n1+n2)/2
print(f"the average of {n1} and {n2} is : {average} ")

the average of 100 and 200 is : 150.0

In [3]:
n1=100
n2=200
average=(n1+n2)/2
print("the average of {} and {} is : {} ".format(n1,n2,average))

the average of 100 and 200 is : 150.0

In [6]:
n1=10
pi=3.14
aoc=pi*n1*n1
print(f"the area of cirlce : {aoc} ")

the area of cirlce : 314.0

In [7]:
n1=10
pi=3.14
aoc=pi*n1*n1
print("the area of cirlce : {} ".format(aoc))

the area of cirlce : 314.0

In [8]:
b=9
h=7
aot=1/2*b*h
print("the area of triangle is{}".format(aot))

the area of triangle is31.5

In [10]:
b=9
h=7
aot=1/2*b*h
print(f"the area of triangle is {aot}")

the area of triangle is 31.5

In [11]:
b=9
h=7
aot=0.5*b*h
print(f"the area of triangle is {aot}")

the area of triangle is 31.5

In [18]:
rb=1000
tip=10/100
ta=1000*10/100
total=rb+ta
print("the total bill is {}".format(total))

the total bill is 1100.0

In [21]:
rb=1000
tip=10/100
ta=1000*10/100
total=rb+ta
print(f"the total bill is{total}")

the total bill is1100.0

In [23]:
rb=1000
tip=10/100
ta=rb*tip
total=rb+ta
print(f"the total bill is {total}")

the total bill is 1100.0

# end operator
- combining multiple print statement

In [27]:
print(10, end=' shumyna  ')
print(20)

10 shumyna  20

In [28]:
print(10, end='  ')
print(20, end='  ')
print(30)

10  20  30

# sep operator
- seperate the multiple values in a single print statement

In [29]:
print(10,20,30)

10 20 30

In [30]:
print(10,20,30,sep='->')

10->20->30