**lambda Functions**
- lambda functions represents function concept only
- but we can write in a single line
- like list comprehension,lambda functions similar only
- it will decrease  the time complexity
- always remember if we use many for loops or many conditions using multiple line,the time complexity will increase

**IT WILL USE KEYWORD LAMBDA**

In [ ]:
# lambda <arguments>:<expression>

In [3]:
def summ(n):
    return(n+10)
summ(10)

20

$pattern-1$
- function with only one argument
    - function name
    - argument name
    - return output

In [ ]:
#syntax
<function name>=lambda <argument>:<return output>

In [8]:
summ=lambda n:n+10
summ(10)

20

In [10]:
def cube(n):
    return(n**3)
cube(10)

1000

In [11]:
cube=lambda n:n**3
cube(10)

1000

$pattern-2$

**two arguments**

In [ ]:
#syntax:
<function name>=lambda <arg1><arg2>:<return output>

In [13]:
def add(a,b):
    return(a+b)
add(10,20)

30

In [15]:
add=lambda a,b:a+b
add(10,20)

30

In [19]:
#avg of 3 nums
avg= lambda a,b,c:round((a+b+c)/3)
avg(10,20,30)

20

$pattern-3$

**Default Arguments**

In [24]:
avg= lambda a,b,c=500:round((a+b+c)/3,2)
avg(10,202)

237.33

$pattern-4$

**if-else**

In [25]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [ ]:
#synatx
function name= lambda<arg1><arg2>:<if_output> <if condition> <else> <else output>

In [26]:
max=lambda a,b:a if a>b else b
max(10,20)

20

$pattern-5$

**using list**

In [ ]:
#syntax
lambda <variable>:<output>,<iterator>

In [29]:
l=['hyd','chennai','mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [30]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

**MAP**
- the function and iterator are avaiable now
- we need to map both

In [33]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [34]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

- case1: function call with one argument<br>
            - lambda arguments:Expression
            - lambda variables:return output
- case2: function call with two arguments
            - lambda arg1,arg2:Expression
            - lambda var1,var2:return output
- case3: function call with default arguments
            - lambda arg1,arg2=500:Expression
            - lambda var1,var2=500:return output
- case4: function call with two arguments and if-else statement
            - lambda arg1,arg2():Expression
            - lambda var1,var2:({if_output} if else else_output for loop)
- case5: lambda operations using list
            - lambda arg:expression,iterator

In [8]:
l=['hyd','mumbai','chennai']
tuple(map(lambda i:i.upper(),l))

('HYD', 'MUMBAI', 'CHENNAI')

In [ ]:
l=['hyd','mum#bai','chen#nai']
tuple(map(lambda i:i.upper(),l))

In [10]:
l=['hyd','mum#bai','chen#nai']
for i in l:
    if '#' in i:
        print(i)

mum#bai
chen#nai

In [13]:
l=['hyd','mum#bai','chen#nai']
tuple(map(lambda i:'#' in i, l))

(False, True, True)

In [ ]:
# msitake:tuple(map(lambda i: if'#' in i, l))lambda i:'#' in i, l

# filter
- whenever if conditions are there use filter

In [14]:
l=['hyd','mum#bai','chen#nai']
tuple(filter(lambda i:'#' in i, l))

('mum#bai', 'chen#nai')

In [16]:
num=[1,2,3,7,6]
list(filter(lambda i:i%2==0, num))

[2, 6]

In [20]:
num=[1,2,3,4,5]
# i want sum of numbers
#method1:
sum(num)
# method2:
summ=0
for i in num:
    summ=summ+i
print(summ)

15

# Reduce

- all in-built functions can achive by reduce
- reduce is avaliable from functools package
- level1:reduce(lambda sum,i:sum+i,num)
- level2:reduce(lambda sum,i:sum+i,num,initial_value)
- for instance we want intilize summ=0 then choose level1
- for instance we want start with other than zero we then choose level1

In [27]:
import functools

In [29]:
num=[1,2,3,4,5]
functools.reduce(lambda sum,i:sum+i,num)

15

In [30]:
from functools import reduce
num=[1,2,3,4,5]
reduce(lambda sum,i:sum+i,num)

15

In [31]:
import functools as ft
num=[1,2,3,4,5]
ft.reduce(lambda sum,i:sum+i,num)

15

In [32]:
import functools as ft
num=[1,2,3,4,5]
ft.reduce(lambda sum,i:sum+i,num,8)

23

In [34]:
import functools as ft
num=[1,2,3,4,5]
ft.reduce(lambda mul,i:mul*i,num)

120

In [39]:
import functools as ft
num=[1,2,3,4,5]
ft.reduce(lambda x,y:x>y,num)

False

In [3]:
num=[1,2,3,4,5]
list(filter(lambda x,y:x>y,num))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [43]:
import functools

In [44]:
functools

In [1]:
import functools as ft
num=[1,'2','3','4','5']
ft.reduce(lambda mul,i:mul*i,num)

TypeError: can't multiply sequence by non-int of type 'str'

In [6]:
import functools as ft
x=('10','2','6','8','20','4','30','32','26','28')  #lambda func using reduce
u=lambda x,y: x+y
ft.reduce(u,x)

'1026820430322628'